[submodule "examples/MLOps_VideoAnomalyDetection"]
	path = examples/MLOps_VideoAnomalyDetection
	url = https://github.com/microsoft/MLOps_VideoAnomalyDetection.git
[submodule "examples/MLOpsPython"]
	path = examples/MLOpsPython
	url = https://github.com/microsoft/MLOpsPython.git
[submodule "examples/MLOpsDatabricks"]
	path = examples/MLOpsDatabricks
	url = https://github.com/azure-samples/MLOpsDatabricks.git
[submodule "examples/azureml-compute-debugging-pycharm"]
	path = examples/Pycharm-Debugging
	url = https://github.com/ezwiefel/azureml-compute-debugging-pycharm
[submodule "examples/MLOps_GitHubActions/seer"]
	path = examples/MLOps_GitHubActions/seer
	url = https://github.com/cloudscaleml/seer.git
[submodule "examples/MLOps_GitHubActions/mlrouter"]
	path = examples/MLOps_GitHubActions/mlrouter
	url = https://github.com/cloudscaleml/mlrouter.git
