[submodule "examples/MLOps_VideoAnomalyDetection"]
	path = examples/MLOps_VideoAnomalyDetection
	url = https://github.com/microsoft/MLOps_VideoAnomalyDetection.git
[submodule "examples/MLOpsPython"]
	path = examples/MLOpsPython
	url = https://github.com/microsoft/MLOpsPython.git
[submodule "examples/MLOpsDatabricks"]
	path = examples/MLOpsDatabricks
	url = https://https://github.com/azure-samples/MLOpsDatabricks.git
