[submodule "examples/MLOps_VideoAnomalyDetection"]
	path = examples/MLOps_VideoAnomalyDetection
	url = https://github.com/microsoft/MLOps_VideoAnomalyDetection.git
[submodule "examples/MLOpsPython"]
	path = examples/MLOpsPython
	url = https://github.com/microsoft/MLOpsPython.git
[submodule "examples/MLOpsDatabricks"]
	path = examples/MLOpsDatabricks
	url = https://github.com/azure-samples/MLOpsDatabricks.git
[submodule "examples/azureml-compute-debugging-pycharm"]
	path = examples/Pycharm-Debugging
	url = https://github.com/ezwiefel/azureml-compute-debugging-pycharm
[submodule "examples/MLOps-YoloV3"]
	path = examples/MLOps-YoloV3
	url = https://github.com/alexandergg/MLOps-YoloV3
